<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational Chatbot</title>
    
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
</head>
<body>
    <nav class="navbar navbar-default" style="border-radius: 0px; margin: 0px;" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Educational Chatbot</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="signup">Signup</a></li>
                <li><a href="signin">Signin</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    <section id="main" class="container-fluid" style="margin: 0px; height: 92vh; padding: 0px;">
        <img src="/static/home/img/chatbot.png" alt="" style="width: 100%; height:100%">
    </section>
</body>
</html>